


.a-163 {
  background: none !important;
}

.a-163:hover {
  background: url(../img/ABimages/over_a-163.png) no-repeat !important;
}

.a-164 {
  background: none !important;
}

.a-164:hover {
  background: url(../img/ABimages/over_a-164.png) no-repeat !important;
}

.a-180 {
  background: none !important;
}

.a-180:hover {
  background: url(../img/ABimages/over_a-180.png) no-repeat !important;
}

.a-165 {
  background: none !important;
}

.a-165:hover {
  background: url(../img/ABimages/over_a-165.png) no-repeat !important;
}

.a-166 {
  background: none !important;
}

.a-166:hover {
  background: url(../img/ABimages/over_a-166.png) no-repeat !important;
}

.a-167 {
  background: none !important;
}

.a-167:hover {
  background: url(../img/ABimages/over_a-167.png) no-repeat !important;
}

.a-168 {
  background: none !important;
}

.a-168:hover {
  background: url(../img/ABimages/over_a-168.png) no-repeat !important;
}

.a-169 {
  background: none !important;
}

.a-169:hover {
  background: url(../img/ABimages/over_a-169.png) no-repeat !important;
}

.a-170 {
  background: none !important;
}

.a-170:hover {
  background: url(../img/ABimages/over_a-170.png) no-repeat !important;
}

.a-171 {
  background: none !important;
}

.a-171:hover {
  background: url(../img/ABimages/over_a-171.png) no-repeat !important;
}

.a-172 {
  background: none !important;
}

.a-172:hover {
  background: url(../img/ABimages/over_a-172.png) no-repeat !important;
}

.a-173 {
  background: none !important;
}

.a-173:hover {
  background: url(../img/ABimages/over_a-173.png) no-repeat !important;
}

.a-174 {
  background: none !important;
}

.a-174:hover {
  background: url(../img/ABimages/over_a-174.png) no-repeat !important;
}

.a-175 {
  background: none !important;
}

.a-175:hover {
  background: url(../img/ABimages/over_a-175.png) no-repeat !important;
}

.a-176 {
  background: none !important;
}

.a-176:hover {
  background: url(../img/ABimages/over_a-176.png) no-repeat !important;
}

.a-177 {
  background: none !important;
}

.a-177:hover {
  background: url(../img/ABimages/over_a-177.png) no-repeat !important;
}

.a-178 {
  background: none !important;
}

.a-178:hover {
  background: url(../img/ABimages/over_a-178.png) no-repeat !important;
}

.a-179 {
  background: none !important;
}

.a-179:hover {
  background: url(../img/ABimages/over_a-179.png) no-repeat !important;
}

.a-010 {
  background: none !important;
}

.a-010:hover {
  background: url(../img/ABimages/a-010.png) no-repeat !important;
}

.a-145 {
  background: none !important;
}

.a-145:hover {
  background: url(../img/ABimages/over_a-145.png) no-repeat !important;
}

.a-146 {
  background: none !important;
}

.a-146:hover {
  background: url(../img/ABimages/over_a-146.png) no-repeat !important;
}

.a-162 {
  background: none !important;
}

.a-162:hover {
  background: url(../img/ABimages/over_a-180.png) no-repeat !important;
}

.a-147 {
  background: none !important;
}

.a-147:hover {
  background: url(../img/ABimages/over_a-147.png) no-repeat !important;
}

.a-148 {
  background: none !important;
}

.a-148:hover {
  background: url(../img/ABimages/over_a-148.png) no-repeat !important;
}

.a-149 {
  background: none !important;
}

.a-149:hover {
  background: url(../img/ABimages/over_a-149.png) no-repeat !important;
}

.a-150 {
  background: none !important;
}

.a-150:hover {
  background: url(../img/ABimages/over_a-150.png) no-repeat !important;
}

.a-151 {
  background: none !important;
}

.a-151:hover {
  background: url(../img/ABimages/over_a-169.png) no-repeat !important;
}

.a-152 {
  background: none !important;
}

.a-152:hover {
  background: url(../img/ABimages/over_a-170.png) no-repeat !important;
}

.a-153 {
  background: none !important;
}

.a-153:hover {
  background: url(../img/ABimages/over_a-171.png) no-repeat !important;
}

.a-154 {
  background: none !important;
}

.a-154:hover {
  background: url(../img/ABimages/over_a-172.png) no-repeat !important;
}

.a-155 {
  background: none !important;
}

.a-155:hover {
  background: url(../img/ABimages/over_a-173.png) no-repeat !important;
}

.a-156 {
  background: none !important;
}

.a-156:hover {
  background: url(../img/ABimages/over_a-174.png) no-repeat !important;
}

.a-157 {
  background: none !important;
}

.a-157:hover {
  background: url(../img/ABimages/over_a-175.png) no-repeat !important;
}

.a-158 {
  background: none !important;
}

.a-158:hover {
  background: url(../img/ABimages/over_a-176.png) no-repeat !important;
}

.a-159 {
  background: none !important;
}

.a-159:hover {
  background: url(../img/ABimages/over_a-177.png) no-repeat !important;
}

.a-160 {
  background: none !important;
}

.a-160:hover {
  background: url(../img/ABimages/over_a-160.png) no-repeat !important;
}

.a-161 {
  background: none !important;
}

.a-161:hover {
  background: url(../img/ABimages/over_a-161.png) no-repeat !important;
}

.a-009 {
  background: none !important;
}

.a-009:hover {
  background: url(../img/ABimages/a-009_begr.png) no-repeat !important;
}

.a-127 {
  background: none !important;
}

.a-127:hover {
  background: url(../img/ABimages/over_a-127.png) no-repeat !important;
}

.a-128 {
  background: none !important;
}

.a-128:hover {
  background: url(../img/ABimages/over_a-128.png) no-repeat !important;
}

.a-129 {
  background: none !important;
}

.a-129:hover {
  background: url(../img/ABimages/over_a-129.png) no-repeat !important;
}

.a-130 {
  background: none !important;
}

.a-130:hover {
  background: url(../img/ABimages/over_a-130.png) no-repeat !important;
}

.a-131 {
  background: none !important;
}

.a-131:hover {
  background: url(../img/ABimages/over_a-131.png) no-repeat !important;
}

.a-132 {
  background: none !important;
}

.a-132:hover {
  background: url(../img/ABimages/over_a-132.png) no-repeat !important;
}

.a-133 {
  background: none !important;
}

.a-133:hover {
  background: url(../img/ABimages/over_a-133.png) no-repeat !important;
}

.a-134 {
  background: none !important;
}

.a-134:hover {
  background: url(../img/ABimages/over_a-134.png) no-repeat !important;
}

.a-135 {
  background: none !important;
}

.a-135:hover {
  background: url(../img/ABimages/over_a-135.png) no-repeat !important;
}

.a-136 {
  background: none !important;
}

.a-136:hover {
  background: url(../img/ABimages/over_a-136.png) no-repeat !important;
}

.a-137 {
  background: none !important;
}

.a-137:hover {
  background: url(../img/ABimages/over_a-137.png) no-repeat !important;
}

.a-138 {
  background: none !important;
}

.a-138:hover {
  background: url(../img/ABimages/over_a-138.png) no-repeat !important;
}

.a-139 {
  background: none !important;
}

.a-139:hover {
  background: url(../img/ABimages/over_a-139.png) no-repeat !important;
}

.a-140 {
  background: none !important;
}

.a-140:hover {
  background: url(../img/ABimages/over_a-140.png) no-repeat !important;
}

.a-141 {
  background: none !important;
}

.a-141:hover {
  background: url(../img/ABimages/over_a-141.png) no-repeat !important;
}

.a-142 {
  background: none !important;
}

.a-142:hover {
  background: url(../img/ABimages/over_a-142.png) no-repeat !important;
}

.a-143 {
  background: none !important;
}

.a-143:hover {
  background: url(../img/ABimages/over_a-143.png) no-repeat !important;
}

.a-144 {
  background: none !important;
}

.a-144:hover {
  background: url(../img/ABimages/over_a-144.png) no-repeat !important;
}

.a-008 {
  background: none !important;
}

.a-008:hover {
  background: url(../img/ABimages/a-008_begr.png) no-repeat !important;
}

.a-109 {
  background: none !important;
}

.a-109:hover {
  background: url(../img/ABimages/over_a-109.png) no-repeat !important;
}

.a-110 {
  background: none !important;
}

.a-110:hover {
  background: url(../img/ABimages/over_a-110.png) no-repeat !important;
}

.a-126 {
  background: none !important;
}

.a-126:hover {
  background: url(../img/ABimages/over_a-144.png) no-repeat !important;
}

.a-111 {
  background: none !important;
}

.a-111:hover {
  background: url(../img/ABimages/over_a-111.png) no-repeat !important;
}

.a-112 {
  background: none !important;
}

.a-112:hover {
  background: url(../img/ABimages/over_a-112.png) no-repeat !important;
}

.a-113 {
  background: none !important;
}

.a-113:hover {
  background: url(../img/ABimages/over_a-113.png) no-repeat !important;
}

.a-114 {
  background: none !important;
}

.a-114:hover {
  background: url(../img/ABimages/over_a-114.png) no-repeat !important;
}

.a-115 {
  background: none !important;
}

.a-115:hover {
  background: url(../img/ABimages/over_a-133.png) no-repeat !important;
}

.a-116 {
  background: none !important;
}

.a-116:hover {
  background: url(../img/ABimages/over_a-134.png) no-repeat !important;
}

.a-117 {
  background: none !important;
}

.a-117:hover {
  background: url(../img/ABimages/over_a-135.png) no-repeat !important;
}

.a-118 {
  background: none !important;
}

.a-118:hover {
  background: url(../img/ABimages/over_a-136.png) no-repeat !important;
}

.a-119 {
  background: none !important;
}

.a-119:hover {
  background: url(../img/ABimages/over_a-137.png) no-repeat !important;
}

.a-120 {
  background: none !important;
}

.a-120:hover {
  background: url(../img/ABimages/over_a-138.png) no-repeat !important;
}

.a-121 {
  background: none !important;
}

.a-121:hover {
  background: url(../img/ABimages/over_a-139.png) no-repeat !important;
}

.a-122 {
  background: none !important;
}

.a-122:hover {
  background: url(../img/ABimages/over_a-140.png) no-repeat !important;
}

.a-123 {
  background: none !important;
}

.a-123:hover {
  background: url(../img/ABimages/over_a-141.png) no-repeat !important;
}

.a-124 {
  background: none !important;
}

.a-124:hover {
  background: url(../img/ABimages/over_a-124.png) no-repeat !important;
}

.a-125 {
  background: none !important;
}

.a-125:hover {
  background: url(../img/ABimages/over_a-125.png) no-repeat !important;
}

.a-007 {
  background: none !important;
}

.a-007:hover {
  background: url(../img/ABimages/a-007_begr.png) no-repeat !important;
}

.a-91 {
  background: none !important;
}

.a-91:hover {
  background: url(../img/ABimages/over_a-91.png) no-repeat !important;
}

.a-92 {
  background: none !important;
}

.a-92:hover {
  background: url(../img/ABimages/over_a-92.png) no-repeat !important;
}

.a-108 {
  background: none !important;
}

.a-108:hover {
  background: url(../img/ABimages/over_a-144.png) no-repeat !important;
}

.a-93 {
  background: none !important;
}

.a-93:hover {
  background: url(../img/ABimages/over_a-93.png) no-repeat !important;
}

.a-94 {
  background: none !important;
}

.a-94:hover {
  background: url(../img/ABimages/over_a-94.png) no-repeat !important;
}

.a-95 {
  background: none !important;
}

.a-95:hover {
  background: url(../img/ABimages/over_a-95.png) no-repeat !important;
}

.a-96 {
  background: none !important;
}

.a-96:hover {
  background: url(../img/ABimages/over_a-96.png) no-repeat !important;
}

.a-97 {
  background: none !important;
}

.a-97:hover {
  background: url(../img/ABimages/over_a-133.png) no-repeat !important;
}

.a-98 {
  background: none !important;
}

.a-98:hover {
  background: url(../img/ABimages/over_a-134.png) no-repeat !important;
}

.a-99 {
  background: none !important;
}

.a-99:hover {
  background: url(../img/ABimages/over_a-135.png) no-repeat !important;
}

.a-100 {
  background: none !important;
}

.a-100:hover {
  background: url(../img/ABimages/over_a-136.png) no-repeat !important;
}

.a-101 {
  background: none !important;
}

.a-101:hover {
  background: url(../img/ABimages/over_a-137.png) no-repeat !important;
}

.a-102 {
  background: none !important;
}

.a-102:hover {
  background: url(../img/ABimages/over_a-138.png) no-repeat !important;
}

.a-103 {
  background: none !important;
}

.a-103:hover {
  background: url(../img/ABimages/over_a-139.png) no-repeat !important;
}

.a-104 {
  background: none !important;
}

.a-104:hover {
  background: url(../img/ABimages/over_a-140.png) no-repeat !important;
}

.a-105 {
  background: none !important;
}

.a-105:hover {
  background: url(../img/ABimages/over_a-141.png) no-repeat !important;
}

.a-106 {
  background: none !important;
}

.a-106:hover {
  background: url(../img/ABimages/over_a-106.png) no-repeat !important;
}

.a-107 {
  background: none !important;
}

.a-107:hover {
  background: url(../img/ABimages/over_a-107.png) no-repeat !important;
}

.a-006 {
  background: none !important;
}

.a-006:hover {
  background: url(../img/ABimages/a-006_begr.png) no-repeat !important;
}

.a-73 {
  background: none !important;
}

.a-73:hover {
  background: url(../img/ABimages/over_a-73.png) no-repeat !important;
}

.a-74 {
  background: none !important;
}

.a-74:hover {
  background: url(../img/ABimages/over_a-74.png) no-repeat !important;
}

.a-75 {
  background: none !important;
}

.a-75:hover {
  background: url(../img/ABimages/over_a-75.png) no-repeat !important;
}

.a-76 {
  background: none !important;
}

.a-76:hover {
  background: url(../img/ABimages/over_a-76.png) no-repeat !important;
}

.a-77 {
  background: none !important;
}

.a-77:hover {
  background: url(../img/ABimages/over_a-77.png) no-repeat !important;
}

.a-78 {
  background: none !important;
}

.a-78:hover {
  background: url(../img/ABimages/over_a-78.png) no-repeat !important;
}

.a-79 {
  background: none !important;
}

.a-79:hover {
  background: url(../img/ABimages/over_a-133.png) no-repeat !important;
}

.a-80 {
  background: none !important;
}

.a-80:hover {
  background: url(../img/ABimages/over_a-134.png) no-repeat !important;
}

.a-81 {
  background: none !important;
}

.a-81:hover {
  background: url(../img/ABimages/over_a-135.png) no-repeat !important;
}

.a-82 {
  background: none !important;
}

.a-82:hover {
  background: url(../img/ABimages/over_a-136.png) no-repeat !important;
}

.a-83 {
  background: none !important;
}

.a-83:hover {
  background: url(../img/ABimages/over_a-137.png) no-repeat !important;
}

.a-84 {
  background: none !important;
}

.a-84:hover {
  background: url(../img/ABimages/over_a-138.png) no-repeat !important;
}

.a-85 {
  background: none !important;
}

.a-85:hover {
  background: url(../img/ABimages/over_a-139.png) no-repeat !important;
}

.a-86 {
  background: none !important;
}

.a-86:hover {
  background: url(../img/ABimages/over_a-140.png) no-repeat !important;
}

.a-87 {
  background: none !important;
}

.a-87:hover {
  background: url(../img/ABimages/over_a-141.png) no-repeat !important;
}

.a-88 {
  background: none !important;
}

.a-88:hover {
  background: url(../img/ABimages/over_a-88.png) no-repeat !important;
}

.a-89 {
  background: none !important;
}

.a-89:hover {
  background: url(../img/ABimages/over_a-89.png) no-repeat !important;
}

.a-90 {
  background: none !important;
}

.a-90:hover {
  background: url(../img/ABimages/over_a-144.png) no-repeat !important;
}

.a-005 {
  background: none !important;
}

.a-005:hover {
  background: url(../img/ABimages/a-005_begr.png) no-repeat !important;
}

.a-55 {
  background: none !important;
}

.a-55:hover {
  background: url(../img/ABimages/over_a-55.png) no-repeat !important;
}

.a-56 {
  background: none !important;
}

.a-56:hover {
  background: url(../img/ABimages/over_a-56.png) no-repeat !important;
}

.a-72 {
  background: none !important;
}

.a-72:hover {
  background: url(../img/ABimages/over_a-144.png) no-repeat !important;
}

.a-57 {
  background: none !important;
}

.a-57:hover {
  background: url(../img/ABimages/over_a-57.png) no-repeat !important;
}

.a-58 {
  background: none !important;
}

.a-58:hover {
  background: url(../img/ABimages/over_a-58.png) no-repeat !important;
}

.a-59 {
  background: none !important;
}

.a-59:hover {
  background: url(../img/ABimages/over_a-59.png) no-repeat !important;
}

.a-60 {
  background: none !important;
}

.a-60:hover {
  background: url(../img/ABimages/over_a-60.png) no-repeat !important;
}

.a-61 {
  background: none !important;
}

.a-61:hover {
  background: url(../img/ABimages/over_a-133.png) no-repeat !important;
}

.a-62 {
  background: none !important;
}

.a-62:hover {
  background: url(../img/ABimages/over_a-134.png) no-repeat !important;
}

.a-63 {
  background: none !important;
}

.a-63:hover {
  background: url(../img/ABimages/over_a-135.png) no-repeat !important;
}

.a-64 {
  background: none !important;
}

.a-64:hover {
  background: url(../img/ABimages/over_a-136.png) no-repeat !important;
}

.a-65 {
  background: none !important;
}

.a-65:hover {
  background: url(../img/ABimages/over_a-137.png) no-repeat !important;
}

.a-66 {
  background: none !important;
}

.a-66:hover {
  background: url(../img/ABimages/over_a-138.png) no-repeat !important;
}

.a-67 {
  background: none !important;
}

.a-67:hover {
  background: url(../img/ABimages/over_a-139.png) no-repeat !important;
}

.a-68 {
  background: none !important;
}

.a-68:hover {
  background: url(../img/ABimages/over_a-140.png) no-repeat !important;
}

.a-69 {
  background: none !important;
}

.a-69:hover {
  background: url(../img/ABimages/over_a-141.png) no-repeat !important;
}

.a-70 {
  background: none !important;
}

.a-70:hover {
  background: url(../img/ABimages/over_a-70.png) no-repeat !important;
}

.a-71 {
  background: none !important;
}

.a-71:hover {
  background: url(../img/ABimages/over_a-71.png) no-repeat !important;
}

.a-004 {
  background: none !important;
}

.a-004:hover {
  background: url(../img/ABimages/a-004_begr.png) no-repeat !important;
}

.a-37 {
  background: none !important;
}

.a-37:hover {
  background: url(../img/ABimages/over_a-37.png) no-repeat !important;
}

.a-38 {
  background: none !important;
}

.a-38:hover {
  background: url(../img/ABimages/over_a-38.png) no-repeat !important;
}

.a-54 {
  background: none !important;
}

.a-54:hover {
  background: url(../img/ABimages/over_a-144.png) no-repeat !important;
}

.a-39 {
  background: none !important;
}

.a-39:hover {
  background: url(../img/ABimages/over_a-39.png) no-repeat !important;
}

.a-40 {
  background: none !important;
}

.a-40:hover {
  background: url(../img/ABimages/over_a-40.png) no-repeat !important;
}

.a-41 {
  background: none !important;
}

.a-41:hover {
  background: url(../img/ABimages/over_a-41.png) no-repeat !important;
}

.a-42 {
  background: none !important;
}

.a-42:hover {
  background: url(../img/ABimages/over_a-42.png) no-repeat !important;
}

.a-43 {
  background: none !important;
}

.a-43:hover {
  background: url(../img/ABimages/over_a-133.png) no-repeat !important;
}

.a-44 {
  background: none !important;
}

.a-44:hover {
  background: url(../img/ABimages/over_a-134.png) no-repeat !important;
}

.a-45 {
  background: none !important;
}

.a-45:hover {
  background: url(../img/ABimages/over_a-135.png) no-repeat !important;
}

.a-46 {
  background: none !important;
}

.a-46:hover {
  background: url(../img/ABimages/over_a-136.png) no-repeat !important;
}

.a-47 {
  background: none !important;
}

.a-47:hover {
  background: url(../img/ABimages/over_a-137.png) no-repeat !important;
}

.a-48 {
  background: none !important;
}

.a-48:hover {
  background: url(../img/ABimages/over_a-138.png) no-repeat !important;
}

.a-49 {
  background: none !important;
}

.a-49:hover {
  background: url(../img/ABimages/over_a-139.png) no-repeat !important;
}

.a-50 {
  background: none !important;
}

.a-50:hover {
  background: url(../img/ABimages/over_a-140.png) no-repeat !important;
}

.a-51 {
  background: none !important;
}

.a-51:hover {
  background: url(../img/ABimages/over_a-141.png) no-repeat !important;
}

.a-52 {
  background: none !important;
}

.a-52:hover {
  background: url(../img/ABimages/over_a-52.png) no-repeat !important;
}

.a-53 {
  background: none !important;
}

.a-53:hover {
  background: url(../img/ABimages/over_a-53.png) no-repeat !important;
}

.a-003 {
  background: none !important;
}

.a-003:hover {
  background: url(../img/ABimages/a-003_begr.png) no-repeat !important;
}

.a-19 {
  background: none !important;
}

.a-19:hover {
  background: url(../img/ABimages/over_a-19.png) no-repeat !important;
}

.a-20 {
  background: none !important;
}

.a-20:hover {
  background: url(../img/ABimages/over_a-20.png) no-repeat !important;
}

.a-21 {
  background: none !important;
}

.a-21:hover {
  background: url(../img/ABimages/over_a-21.png) no-repeat !important;
}

.a-22 {
  background: none !important;
}

.a-22:hover {
  background: url(../img/ABimages/over_a-22.png) no-repeat !important;
}

.a-23 {
  background: none !important;
}

.a-23:hover {
  background: url(../img/ABimages/over_a-23.png) no-repeat !important;
}

.a-24 {
  background: none !important;
}

.a-24:hover {
  background: url(../img/ABimages/over_a-24.png) no-repeat !important;
}

.a-25 {
  background: none !important;
}

.a-25:hover {
  background: url(../img/ABimages/over_a-133.png) no-repeat !important;
}

.a-26 {
  background: none !important;
}

.a-26:hover {
  background: url(../img/ABimages/over_a-134.png) no-repeat !important;
}

.a-27 {
  background: none !important;
}

.a-27:hover {
  background: url(../img/ABimages/over_a-135.png) no-repeat !important;
}

.a-28 {
  background: none !important;
}

.a-28:hover {
  background: url(../img/ABimages/over_a-136.png) no-repeat !important;
}

.a-29 {
  background: none !important;
}

.a-29:hover {
  background: url(../img/ABimages/over_a-137.png) no-repeat !important;
}

.a-30 {
  background: none !important;
}

.a-30:hover {
  background: url(../img/ABimages/over_a-138.png) no-repeat !important;
}

.a-31 {
  background: none !important;
}

.a-31:hover {
  background: url(../img/ABimages/over_a-139.png) no-repeat !important;
}

.a-32 {
  background: none !important;
}

.a-32:hover {
  background: url(../img/ABimages/over_a-140.png) no-repeat !important;
}

.a-33 {
  background: none !important;
}

.a-33:hover {
  background: url(../img/ABimages/over_a-141.png) no-repeat !important;
}

.a-34 {
  background: none !important;
}

.a-34:hover {
  background: url(../img/ABimages/over_a-34.png) no-repeat !important;
}

.a-35 {
  background: none !important;
}

.a-35:hover {
  background: url(../img/ABimages/over_a-35.png) no-repeat !important;
}

.a-36 {
  background: none !important;
}

.a-36:hover {
  background: url(../img/ABimages/over_a-144.png) no-repeat !important;
}

.a-002 {
  background: none !important;
}

.a-002:hover {
  background: url(../img/ABimages/a-003_begr_2.png) no-repeat !important;
}

.a-1 {
  background: none !important;
}

.a-1:hover {
  background: url(../img/ABimages/over_a-01.png) no-repeat !important;
}

.a-2 {
  background: none !important;
}

.a-2:hover {
  background: url(../img/ABimages/over_a-02.png) no-repeat !important;
}

.a-18 {
  background: none !important;
}

.a-18:hover {
  background: url(../img/ABimages/over_a-144.png) no-repeat !important;
}

.a-3 {
  background: none !important;
}

.a-3:hover {
  background: url(../img/ABimages/over_a-03.png) no-repeat !important;
}

.a-4 {
  background: none !important;
}

.a-4:hover {
  background: url(../img/ABimages/over_a-04.png) no-repeat !important;
}

.a-5 {
  background: none !important;
}

.a-5:hover {
  background: url(../img/ABimages/over_a-05.png) no-repeat !important;
}

.a-6 {
  background: none !important;
}

.a-6:hover {
  background: url(../img/ABimages/over_a-06.png) no-repeat !important;
}

.a-7 {
  background: none !important;
}

.a-7:hover {
  background: url(../img/ABimages/over_a-133.png) no-repeat !important;
}

.a-8 {
  background: none !important;
}

.a-8:hover {
  background: url(../img/ABimages/over_a-134.png) no-repeat !important;
}

.a-9 {
  background: none !important;
}

.a-9:hover {
  background: url(../img/ABimages/over_a-135.png) no-repeat !important;
}

.a-10 {
  background: none !important;
}

.a-10:hover {
  background: url(../img/ABimages/over_a-136.png) no-repeat !important;
}

.a-11 {
  background: none !important;
}

.a-11:hover {
  background: url(../img/ABimages/over_a-137.png) no-repeat !important;
}

.a-12 {
  background: none !important;
}

.a-12:hover {
  background: url(../img/ABimages/over_a-138.png) no-repeat !important;
}

.a-13 {
  background: none !important;
}

.a-13:hover {
  background: url(../img/ABimages/over_a-139.png) no-repeat !important;
}

.a-14 {
  background: none !important;
}

.a-14:hover {
  background: url(../img/ABimages/over_a-140.png) no-repeat !important;
}

.a-15 {
  background: none !important;
}

.a-15:hover {
  background: url(../img/ABimages/over_a-141.png) no-repeat !important;
}

.a-16 {
  background: none !important;
}

.a-16:hover {
  background: url(../img/ABimages/over_a-16.png) no-repeat !important;
}

.a-17 {
  background: none !important;
}

.a-17:hover {
  background: url(../img/ABimages/over_a-17.png) no-repeat !important;
}
